            
| Stat | Score |
| ---  | ---   |
| Win  | 6     |
| QS  |  4     |
| ER  | -3     |
| SO  | 3     |
| Out  | 1     |
| 1B  | 3     |
| 2B  | 6     |
| 3B  | 9     |
| HR  | 12     |
| RBI  | 3.5     |
| R  | 3.2     |
| BB  | 3     |
| SB  | 6     |
| HBP  | 3     |

# Positions
P - 1 <br>
C/1B - 1 <br>
2B - 1 <br>
3B - 1 <br>
SS - 1 <br>
OF - 3 <br>
UTIL - 1 <br>

In [59]:
import pandas as pd
from bs4 import BeautifulSoup as soup
import requests
import io

In [61]:
BASE_URL="http://rotoguru1.com/cgi-bin/byday.pl?game=fd&scsv=1&month=07&day=24&year=2015&nowrap=1"
page = requests.get(BASE_URL)

In [62]:
soup=BeautifulSoup(page.content, 'html.parser')
headers = ["Date","GID","MLB_ID","Name","Starter","Bat order","FD posn","FD pts","FD sal","Team","Oppt","dblhdr","Tm Runs","Opp Runs"]
all_games=pd.read_csv(io.StringIO(soup.text),sep=";",names=headers)

In [67]:
all_games.sort_values(by="FD pts", ascending=False)

,Date,GID,MLB_ID,Name,Starter,Bat order,FD posn,FD pts,FD sal,Team,Oppt,dblhdr,Tm Runs,Opp Runs
0,20150724,111t,500779,"Quintana, Jose",1.0,0,1.0,21.0,8200.0,CHW,@ cle,NaN,6,0
1,20150724,1103,407890,"Lewis, Colby",1.0,0,1.0,18.7,6600.0,TEX,@ laa,NaN,4,2
2,20150724,1610,433587,"Hernandez, Felix",1.0,0,1.0,17.0,11300.0,SEA,v tor,NaN,5,2
3,20150724,118z,519076,"Nelson, Jimmy",1.0,9,1.0,16.0,7100.0,MIL,@ ari,NaN,2,1
4,20150724,111p,571578,"Corbin, Patrick",1.0,9,1.0,16.0,6600.0,ARI,v mil,NaN,1,2
5,20150724,100y,488768,"Cashner, Andrew",1.0,9,1.0,15.0,7300.0,SDG,v mia,NaN,3,1
6,20150724,104z,502042,"Archer, Chris",1.0,0,1.0,14.0,10600.0,TAM,v bal,NaN,3,1
7,20150724,1133,431148,"Kazmir, Scott",1.0,0,1.0,14.0,9200.0,HOU,@ kan,NaN,4,0
8,20150724,1959,461833,"Hughes, Phil",1.0,0,1.0,14.0,7600.0,MIN,v nyy,NaN,10,1
9,20150724,128d,608641,"Cooney, Tim",1.0,9,1.0,14.0,6200.0,STL,v atl,NaN,4,2
10,20150724,123f,621962,"Thomas, Ian",1.0,9,1.0,13.0,4100.0,LAD,@ nym,NaN,7,2
112,20150724,4223,458085,"Coghlan, Chris",1.0,5,7.0,12.5,2700.0,CHC,v phi,NaN,3,5(F10)
11,20150724,1457,519144,"Porcello, Rick",1.0,0,1.0,12.0,7400.0,BOS,v det,NaN,2,1(F11)
113,20150724,2468,545341,"Grichuk, Randal",1.0,7,7.0,11.8,3500.0,STL,v atl,NaN,4,2
114,20150724,7617,471865,"Gonzalez, Carlos",1.0,4,7.0,11.5,4700.0,COL,v cin,NaN,6,5
12,20150724,1506,452657,"Lester, Jon",1.0,8,1.0,11.0,9600.0,CHC,v phi,NaN,3,5(F10)
115,20150724,4197,493351,"Ramirez, Alexei",1.0,7,6.0,10.8,2400.0,CHW,@ cle,NaN,6,0
116,20150724,4227,457759,"Turner, Justin",1.0,3,5.0,10.5,3400.0,LAD,@ nym,NaN,7,2
14,20150724,1994,501957,"Tillman, Chris",1.0,0,1.0,10.0,6300.0,BAL,@ tam,NaN,1,3
13,20150724,1524,434378,"Verlander, Justin",1.0,0,1.0,10.0,7100.0,DET,@ bos,NaN,1,2(F11)
117,20150724,6239,461858,"Plouffe, Trevor",1.0,5,5.0,9.8,2900.0,MIN,v nyy,NaN,10,1
118,20150724,2566,605512,"Tucker, Preston",1.0,2,7.0,9.5,3400.0,HOU,@ kan,NaN,4,0
16,20150724,123x,543101,"DeSclafani, Anthony",1.0,8,1.0,9.0,6300.0,CIN,@ col,NaN,5,6
15,20150724,1325,408241,"Peavy, Jake",1.0,9,1.0,9.0,7000.0,SFO,v oak,NaN,9,3
119,20150724,7702,545361,"Trout, Mike",1.0,3,7.0,8.8,5200.0,LAA,v tex,NaN,2,4
122,20150724,6105,276519,"Rollins, Jimmy",1.0,7,6.0,8.8,2300.0,LAD,@ nym,NaN,7,2
120,20150724,7577,452254,"Pence, Hunter",1.0,5,7.0,8.8,3300.0,SFO,v oak,NaN,9,3
121,20150724,2548,592696,"Rosario, Eddie",1.0,6,7.0,8.8,2600.0,MIN,v nyy,NaN,10,1
123,20150724,2456,570256,"Polanco, Gregory",1.0,1,7.0,8.5,2300.0,PIT,v was,NaN,7,5
124,20150724,7512,425796,"Francoeur, Jeff",1.0,4,7.0,8.2,2700.0,PHI,@ chc,NaN,5,3(F10)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,20150724,5178,467055,"Sandoval, Pablo",1.0,4,5.0,-1.0,2200.0,BOS,v det,NaN,2,1(F11)
405,20150724,6258,465753,"Florimon, Pedro",1.0,8,6.0,-1.0,2200.0,PIT,v was,NaN,7,5
406,20150724,4163,430605,"Raburn, Ryan",1.0,4,7.0,-1.0,2200.0,CLE,v chw,NaN,0,6
407,20150724,6283,588751,"Hechavarria, Adeiny",1.0,8,6.0,-1.0,2200.0,MIA,@ sdg,NaN,1,3
408,20150724,7788,571868,"Krauss, Marc",1.0,7,3.0,-1.0,2200.0,DET,@ bos,NaN,1,2(F11)
409,20150724,6244,465674,"Ciriaco, Pedro",1.0,2,6.0,-1.0,2200.0,ATL,@ stl,NaN,2,4
392,20150724,2362,519390,"Vogt, Stephen",1.0,2,2.0,-1.0,2700.0,OAK,@ sfo,NaN,3,9
388,20150724,3145,434778,"Morales, Kendrys",1.0,5,3.0,-1.0,2800.0,KAN,v hou,NaN,0,4
390,20150724,5208,517370,"Paredes, Jimmy",1.0,1,4.0,-1.0,2700.0,BAL,@ tam,NaN,1,3
389,20150724,5191,453400,"Johnson, Chris",1.0,4,5.0,-1.0,2800.0,ATL,@ stl,NaN,2,4
411,20150724,4243,506560,"Amarista, Alexi",1.0,1,6.0,-1.0,2200.0,SDG,v mia,NaN,3,1
374,20150724,2324,518626,"Donaldson, Josh",1.0,2,5.0,-1.0,4600.0,TOR,@ sea,NaN,2,5
375,20150724,6187,453064,"Tulowitzki, Troy",1.0,3,6.0,-1.0,4500.0,COL,v cin,NaN,6,5
376,20150724,5100,405395,"Pujols, Albert",1.0,4,3.0,-1.0,4300.0,LAA,v tex,NaN,2,4
377,20150724,7564,452252,"Lind, Adam",1.0,5,3.0,-1.0,4300.0,MIL,@ ari,NaN,2,1
378,20150724,7690,456715,"Cain, Lorenzo",1.0,3,7.0,-1.0,3900.0,KAN,v hou,NaN,0,4
379,20150724,3203,519048,"Moreland, Mitch",1.0,5,7.0,-1.0,3800.0,TEX,@ laa,NaN,4,2
380,20150724,6264,571740,"Hamilton, Billy",1.0,9,7.0,-1.0,3400.0,CIN,@ col,NaN,5,6
381,20150724,7552,430945,"Jones, Adam",1.0,4,7.0,-1.0,3200.0,BAL,@ tam,NaN,1,3
382,20150724,3200,475253,"Smoak, Justin",1.0,5,3.0,-1.0,3100.0,TOR,@ sea,NaN,2,5
383,20150724,5217,592206,"Castellanos, Nick",1.0,5,5.0,-1.0,3000.0,DET,@ bos,NaN,1,2(F11)
384,20150724,2238,455104,"Iannetta, Chris",1.0,7,2.0,-1.0,3000.0,LAA,v tex,NaN,2,4
385,20150724,5196,502143,"Valencia, Danny",1.0,7,5.0,-1.0,3000.0,TOR,@ sea,NaN,2,5
386,20150724,7023,136860,"Beltran, Carlos",1.0,6,7.0,-1.0,2800.0,NYY,@ min,NaN,1,10
387,20150724,7589,457708,"Upton, Justin",1.0,4,7.0,-1.0,2800.0,SDG,v mia,NaN,3,1
410,20150724,2312,452095,"Flowers, Tyler",1.0,8,2.0,-1.0,2200.0,CHW,@ cle,NaN,6,0
412,20150724,2175,400121,"Martinez, Victor",1.0,3,2.0,-1.2,3300.0,DET,@ bos,NaN,1,2(F11)
413,20150724,2525,596748,"Franco, Maikel",1.0,3,5.0,-1.2,3000.0,PHI,@ chc,NaN,5,3(F10)
110,20150724,1775,477003,"Niese, Jon",1.0,9,1.0,-2.0,7700.0,NYM,v lad,NaN,2,7
111,20150724,1036,425626,"Capuano, Chris",NaN,0,1.0,-2.0,5800.0,NYY,@ min,NaN,1,10

In [66]:
print(all_games)

         Date   GID  MLB_ID                 Name  Starter  Bat order  FD posn  \
0    20150724  111t  500779       Quintana, Jose      1.0          0      1.0
1    20150724  1103  407890         Lewis, Colby      1.0          0      1.0
2    20150724  1610  433587     Hernandez, Felix      1.0          0      1.0
3    20150724  118z  519076        Nelson, Jimmy      1.0          9      1.0
4    20150724  111p  571578      Corbin, Patrick      1.0          9      1.0
5    20150724  100y  488768      Cashner, Andrew      1.0          9      1.0
6    20150724  104z  502042        Archer, Chris      1.0          0      1.0
7    20150724  1133  431148        Kazmir, Scott      1.0          0      1.0
8    20150724  1959  461833         Hughes, Phil      1.0          0      1.0
9    20150724  128d  608641          Cooney, Tim      1.0          9      1.0
10   20150724  123f  621962          Thomas, Ian      1.0          9      1.0
11   20150724  1457  519144       Porcello, Rick      1.0          0      1.0
12   20150724  1506  452657          Lester, Jon      1.0          8      1.0
13   20150724  1524  434378    Verlander, Justin      1.0          0      1.0
14   20150724  1994  501957       Tillman, Chris      1.0          0      1.0
15   20150724  1325  408241          Peavy, Jake      1.0          9      1.0
16   20150724  123x  543101  DeSclafani, Anthony      1.0          8      1.0
17   20150724  1310  453286        Scherzer, Max      1.0          9      1.0
18   20150724  108v  446372        Kluber, Corey      1.0          0      1.0
19   20150724  1330  475416    Masterson, Justin      NaN          0      1.0
20   20150724  116q  517008         Colome, Alex      NaN          0      1.0
21   20150724  1803  425532     Williams, Jerome      1.0          9      1.0
22   20150724  1171  429717           Haren, Dan      1.0          9      1.0
23   20150724  109k  502046          Locke, Jeff      1.0          9      1.0
24   20150724  1653  425386      Guthrie, Jeremy      1.0          0      1.0
25   20150724  126d  607374       Tropeano, Nick      1.0          0      1.0
26   20150724  103j  474699        Worley, Vance      NaN          9      1.0
27   20150724  124j  572750        Butler, Eddie      1.0          9      1.0
28   20150724  124k  571704           Giles, Ken      NaN          8      1.0
29   20150724  1712  446099         Axford, John      NaN          9      NaN
..        ...   ...     ...                  ...      ...        ...      ...
384  20150724  2238  455104      Iannetta, Chris      1.0          7      2.0
385  20150724  5196  502143      Valencia, Danny      1.0          7      5.0
386  20150724  7023  136860      Beltran, Carlos      1.0          6      7.0
387  20150724  7589  457708        Upton, Justin      1.0          4      7.0
388  20150724  3145  434778     Morales, Kendrys      1.0          5      3.0
389  20150724  5191  453400       Johnson, Chris      1.0          4      5.0
390  20150724  5208  517370       Paredes, Jimmy      1.0          1      4.0
391  20150724  6182  430947         Aybar, Erick      1.0          5      6.0
392  20150724  2362  519390        Vogt, Stephen      1.0          2      2.0
393  20150724  2514  571875           Lamb, Jake      1.0          6      5.0
394  20150724  7645  457706      Jackson, Austin      1.0          1      7.0
395  20150724  7735  543238        Gose, Anthony      1.0          9      7.0
396  20150724  2477  519306    Souza Jr., Steven      1.0          1      7.0
397  20150724  2484  543068           Cron, C.J.      1.0          6      3.0
398  20150724  2485  543376        Joseph, Caleb      1.0          8      2.0
399  20150724  7464  430404         Gomes, Jonny      1.0          6      7.0
400  20150724  2441  542454       Santana, Danny      1.0          9      6.0
401  20150724  2559  608365     Russell, Addison      1.0          9      4.0
402  20150724  2203  425900      Navarro, Dioner      1.0          6      2.0
403  20150724  7760  541645      Garcia, Avisail      1.0          6      7.0
404  20150724  5178  467055      Sandoval, Pablo      1.0          4      5.0
405  20150724  6258  465753      Florimon, Pedro      1.0          8      6.0
406  20150724  4163  430605         Raburn, Ryan      1.0          4      7.0
407  20150724  6283  588751  Hechavarria, Adeiny      1.0          8      6.0
408  20150724  7788  571868         Krauss, Marc      1.0          7      3.0
409  20150724  6244  465674       Ciriaco, Pedro      1.0          2      6.0
410  20150724  2312  452095       Flowers, Tyler      1.0          8      2.0
411  20150724  4243  506560      Amarista, Alexi      1.0          1      6.0
412  20150724  2175  400121     Martinez, Victor      1.0          3      2.0
413  20150724  2525  596748       Franco, Maikel      1.0          3      5.0

     FD pts   FD sal Team   Oppt  dblhdr  Tm Runs Opp Runs
0      21.0   8200.0  CHW  @ cle     NaN        6        0
1      18.7   6600.0  TEX  @ laa     NaN        4        2
2      17.0  11300.0  SEA  v tor     NaN        5        2
3      16.0   7100.0  MIL  @ ari     NaN        2        1
4      16.0   6600.0  ARI  v mil     NaN        1        2
5      15.0   7300.0  SDG  v mia     NaN        3        1
6      14.0  10600.0  TAM  v bal     NaN        3        1
7      14.0   9200.0  HOU  @ kan     NaN        4        0
8      14.0   7600.0  MIN  v nyy     NaN       10        1
9      14.0   6200.0  STL  v atl     NaN        4        2
10     13.0   4100.0  LAD  @ nym     NaN        7        2
11     12.0   7400.0  BOS  v det     NaN        2   1(F11)
12     11.0   9600.0  CHC  v phi     NaN        3   5(F10)
13     10.0   7100.0  DET  @ bos     NaN        1   2(F11)
14     10.0   6300.0  BAL  @ tam     NaN        1        3
15      9.0   7000.0  SFO  v oak     NaN        9        3
16      9.0   6300.0  CIN  @ col     NaN        5        6
17      8.0  12000.0  WAS  @ pit     NaN        5        7
18      8.0  11000.0  CLE  v chw     NaN        0        6
19      7.0   6500.0  BOS  v det     NaN        2   1(F11)
20      7.0   6100.0  TAM  v bal     NaN        3        1
21      7.0   4700.0  PHI  @ chc     NaN        5   3(F10)
22      6.0   7100.0  MIA  @ sdg     NaN        1        3
23      6.0   6600.0  PIT  v was     NaN        7        5
24      6.0   5800.0  KAN  v hou     NaN        0        4
25      6.0   5600.0  LAA  v tex     NaN        2        4
26      6.0   5100.0  PIT  v was     NaN        7        5
27      6.0   5100.0  COL  v cin     NaN        6        5
28      6.0   4000.0  PHI  @ chc     NaN        5   3(F10)
29      6.0      NaN  COL  v cin     NaN        6        5
..      ...      ...  ...    ...     ...      ...      ...
384    -1.0   3000.0  LAA  v tex     NaN        2        4
385    -1.0   3000.0  TOR  @ sea     NaN        2        5
386    -1.0   2800.0  NYY  @ min     NaN        1       10
387    -1.0   2800.0  SDG  v mia     NaN        3        1
388    -1.0   2800.0  KAN  v hou     NaN        0        4
389    -1.0   2800.0  ATL  @ stl     NaN        2        4
390    -1.0   2700.0  BAL  @ tam     NaN        1        3
391    -1.0   2700.0  LAA  v tex     NaN        2        4
392    -1.0   2700.0  OAK  @ sfo     NaN        3        9
393    -1.0   2600.0  ARI  v mil     NaN        1        2
394    -1.0   2600.0  SEA  v tor     NaN        5        2
395    -1.0   2500.0  DET  @ bos     NaN        1   2(F11)
396    -1.0   2500.0  TAM  v bal     NaN        3        1
397    -1.0   2500.0  LAA  v tex     NaN        2        4
398    -1.0   2400.0  BAL  @ tam     NaN        1        3
399    -1.0   2400.0  ATL  @ stl     NaN        2        4
400    -1.0   2300.0  MIN  v nyy     NaN       10        1
401    -1.0   2300.0  CHC  v phi     NaN        3   5(F10)
402    -1.0   2200.0  TOR  @ sea     NaN        2        5
403    -1.0   2200.0  CHW  @ cle     NaN        6        0
404    -1.0   2200.0  BOS  v det     NaN        2   1(F11)
405    -1.0   2200.0  PIT  v was     NaN        7        5
406    -1.0   2200.0  CLE  v chw     NaN        0        6
407    -1.0   2200.0  MIA  @ sdg     NaN        1        3
408    -1.0   2200.0  DET  @ bos     NaN        1   2(F11)
409    -1.0   2200.0  ATL  @ stl     NaN        2        4
410    -1.0   2200.0  CHW  @ cle     NaN        6        0
411    -1.0   2200.0  SDG  v mia     NaN        3        1
412    -1.2   3300.0  DET  @ bos     NaN        1   2(F11)
413    -1.2   3000.0  PHI  @ chc     NaN        5   3(F10)

[414 rows x 14 columns]